<!-- <div *ngIf="this.hero.id, else Add">
    <h1>Update Hero: <small>{{this.hero.superhero}}</small> </h1>
</div>

<ng-template #Add>

    <h1>New Hero: <small>{{this.hero.superhero}}</small> </h1>

</ng-template> -->

<h1>
    {{(hero.id) ? 'Edit' : 'New'}} Hero: <small>{{this.hero.superhero}}</small>
</h1>


<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column" fxLayout.sm="column">

    <div fxFlex="50">
        <div fxLayout="column">

            <div fxFlex="25" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                <mat-form-field appearance="fill">
                    <mat-label>Super Hero</mat-label>
                    <input matInput placeholder="Name" type="text" [required]="true" [(ngModel)]="hero.superhero">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Alter Ego</mat-label>
                    <input matInput placeholder="Name" type="text" [required]="true" [(ngModel)]="hero.alter_ego">
                </mat-form-field>


            </div>

            <mat-form-field appearance="fill">
                <mat-label>First appearance </mat-label>
                <input matInput placeholder="Name" type="text" [required]="true" [(ngModel)]="hero.first_appearance">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Characters </mat-label>
                <input matInput placeholder="Name" type="text" [required]="true" [(ngModel)]="hero.characters">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Creator </mat-label>
                <mat-select [required]="true" [(ngModel)]="hero.publisher">
                    <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                        {{publisher.desc}}

                    </mat-option>

                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Photo </mat-label>
                <input matInput placeholder="Name" type="text" [required]="true" [(ngModel)]="hero.alt_img">
            </mat-form-field>

            <div fxLayout>

                <button mat-raised-button color="primary" (click)="save()">
                    <mat-icon>check</mat-icon> {{(hero.id) ? 'Update' : 'Save'}}

                </button>
                <span *ngIf="hero.id" class="spacer"></span>
                <button *ngIf="hero.id" mat-raised-button color="warn" (click)="delete()"><mat-icon>delete</mat-icon>
                    Delete</button>
            </div>
        </div>
    </div>


    <div fxFlex="50">

        <img [src]="hero | imgHero">


    </div>


</div>
